<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SortedOrder-Comment</key>
		<string>This is the original order supported by Clover prior to build v3062.  You can trim it as necessary.</string>
		<key>SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
			<string>SSDT-6.aml</string>
			<string>SSDT-7.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-9.aml</string>
			<string>SSDT-10.aml</string>
			<string>SSDT-11.aml</string>
			<string>SSDT-12.aml</string>
			<string>SSDT-13.aml</string>
			<string>SSDT-14.aml</string>
			<string>SSDT-15.aml</string>
			<string>SSDT-16.aml</string>
			<string>SSDT-17.aml</string>
			<string>SSDT-18.aml</string>
			<string>SSDT-19.aml</string>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddIMEI_80000</key>
				<true/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0 -gux_defer_usb2 nv_disable=1</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IMEI</key>
			<string>0x1e3a8086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Bluemac</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>ig-platform-id</key>
		<string>0x01660004</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>InjectEDID</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AsusAICPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.9.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>9oDUAAAAgHU6</data>
				<key>Replace</key>
				<data>9oDUAAAAgOs6</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.10.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>9oDUAAAAgHU0</data>
				<key>Replace</key>
				<data>9oDUAAAAgOs0</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.9.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>Zj0AAQ==</data>
				<key>Replace</key>
				<data>Zj0AAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.10.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>QbzHAgDgPQABAAA=</data>
				<key>Replace</key>
				<data>QbzHAgDgPQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #1, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>QcdHCAAAQAA=</data>
				<key>Replace</key>
				<data>QcdHCAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #2, 10.10.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>gUkIAABAAA==</data>
				<key>Replace</key>
				<data>gUkIAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable the sleep code leaving the controller in non-working state after wake, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable PCI power management if there is no such code in DSDT, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Name</key>
				<string>disabled:AppleUSBXHCI</string>
				<key>Find</key>
				<data>dU1Ii7voAQAA</data>
				<key>Replace</key>
				<data>601Ii7voAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #1 of 2</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>BABmAQEDAQEAAAAC</data>
				<key>Replace</key>
				<data>BABmAQECBAIAAAAE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #2 of 2</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>MAIAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAAAAAAA</data>
				<key>Replace</key>
				<data>MAIAAAIFAAAABAAABwQAAAMEAAAABAAAgQAAAAQGAAAABAAAgQAAAAAAAAAAAgAR</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0205</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHBAAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAGAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0304</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>AwQAAAAEAACBAAAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAGAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0406</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferCapri</string>
				<key>Find</key>
				<data>BAYAAAAEAACBAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAGAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Name</key>
				<string>disabled:IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.2/10.10.3</string>
				<key>Name</key>
				<string>disabled:IOGraphicsFamily</string>
				<key>Find</key>
				<data>QYjE6xE=</data>
				<key>Replace</key>
				<data>QYjE6zE=</data>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
